name: ai_image_app
description: SkyGen AI Image Generator
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  path_provider: ^2.1.2
  shared_preferences: ^2.2.2
  intl: ^0.19.0

flutter:
  uses-material-design: true
